html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color-emphasize: #BEE9E8;
    --color-secondary: #aaa;
    --color-primary: #343A3F;
    --width-max: 1024px;
    --width-max-pic: 512px;
    --width-min-pic: 256px;
    --font-x-large: 20vh;
    --font-large: 6vh;
    --font-medium: 35px;
    --font-small: 25px;
}

.container {
    min-height: 100vh;
    max-width: var(--width-max);
    margin: 0 auto;
    padding: var(--font-medium);
}

.container-form {
    max-width: var(--width-max);
    margin: 0 auto;
    padding: var(--font-medium);
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-center {
    background-position: center;
}

.bg-left {
    background-position: left;
}

.flex-row-wrap-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-column-wrap-center {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


/* header & footer */

.emphasize {
    position: relative;
    top: -4px;
    border-bottom: var(--color-emphasize) 2px solid;
    text-shadow: var(--color-emphasize) 1px 1px 1px, var(--color-primary) 5px 5px 5px
}

header,
footer {
    background-color: var(--color-primary);
    font-size: var(--font-medium);
    border: var(--color-emphasize) 1px solid;
    padding: var(--font-small);
}

.fa-linkedin {
    color: #0e76a8;
}

.fa-github {
    color: #4078c0
}

.header2 {
    position: sticky;
    top: 0;
    z-index: 99;
}

#menuBtn {
    color: var(--color-secondary);
    justify-content: flex-end;
}

.burger {
    display: block;
    width: 25px;
    height: 4px;
    background-color: #818181;
    margin: 5px 0;
    transition: 0.4s;
}

#hamburger:hover .burger {
    background-color: var(--color-emphasize)
}

.bar1Open {
    transform: rotate(-45deg) translate(-7px, 6px);
}

.bar2Open {
    opacity: 0;
}

.bar3Open {
    transform: rotate(45deg) translate(-7px, -6px);
}

.navList {
    font-size: var(--font-medium);
    max-width: var(--width-max);
    list-style: none;
    margin: 0 auto;
}

.navItem {
    padding: 0 1vw;
}

.navItem a :hover {
    color: var(--color-emphasize)
}

.navItem a {
    color: var(--color-secondary);
    text-decoration: none;
    text-align: center;
    display: block;
}

@media only screen and (min-width:1025px) {
    #menuBtn {
        display: none;
    }
    .top-navlist {
        flex-flow: row wrap;
    }
}

@media only screen and (max-width:1025px) {
    #navbar {
        display: none;
    }
    .top-navlist {
        flex-flow: column wrap;
    }
}

.navList {
    display: flex;
    justify-content: center;
}

.sectionTitle {
    font-size: var(--font-large);
    text-align: center;
    margin: var(--font-medium) 0;
    color: var(--color-secondary);
    text-shadow: var(--color-primary) 1px 1px 2px
}


/* home section */

#home {
    height: 100vh;
    background-image: url(./assets/bg.jpg);
    background-attachment: fixed;
}

#intro {
    color: var(--color-secondary);
    text-align: justify;
    font-size: var(--font-large);
    text-shadow: #666 1px 1px 1px, var(--color-primary) 5px 5px 5px;
    height: fit-content;
    padding: var(--font-small);
    max-width: var(--width-max);
    margin: 0 auto;
    text-transform: uppercase;
}


/* about section */

#about-pic {
    height: 50vw;
    max-height: var(--width-max-pic);
    width: 50vw;
    max-width: var(--width-max-pic);
    margin: 0 auto var(--font-medium);
    background-image: url('./assets/פרופיללינקדאין.jpeg');
    border-radius: 100%;
    border: var(--color-emphasize) 1px solid;
    box-shadow: #666 1px 1px 1px, var(--color-primary) 5px 5px 5px;
}

#about-moto {
    margin: var(--font-medium) auto;
    padding: var(--font-medium) 0;
    height: 30vw;
    max-height: 30vh;
    width: 100%;
    background-image: url('./assets/רקעלינקדאין.jpeg');
    box-shadow: #666 1px 1px 1px, var(--color-primary) 5px 5px 5px;
    border: var(--color-emphasize) 1px solid;
}

#about-text {
    margin: var(--font-medium) auto;
    padding: var(--font-medium) 0;
}

.about-text-sentence {
    margin: var(--font-medium) auto;
    padding: var(--font-medium) 0;
    font-size: var(--font-small);
    text-align: center;
    /* text-indent: var(--font-large); */
}


/* projects section */

#projects-container {
    display: grid;
}

@media only screen and (min-width:1025px) {
    #projects-container {
        grid-template-columns: auto auto;
    }
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: auto;
    min-height: 20vh;
    perspective: var(--width-max);
    margin: 0 auto;
}

.container::after,
.container::before {
    display: none;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    color: var(--color-primary);
}

.flip-card-back {
    align-items: center;
    margin: auto;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: var(--color-emphasize) 1px solid;
    transform: rotateY(180deg);
}

.flip_img {
    max-width: var(--width-max-pic);
    width: 100%;
    height: auto;
    margin: auto;
}

#slider_img {
    height: 100%;
    background-image: url('./assets//myPics/0.jpg');
    background-attachment: fixed;
}

#slider {
    background-color: var(--color-primary);
    height: 100vh;
}


/* contact section */

label {
    font-size: large
}

.form-input-container {
    margin: 1%;
}

.form-input {
    width: 100%;
    font-size: var(--font-small);
}

#submitBtn {
    font-size: var(--font-small);
    padding: 1%;
    margin: 0 auto;
    display: block;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-radius: 10px;
    box-shadow: var(--color-emphasize) 1px 1px 1px, var(--color-primary) 5px 5px 5px;
}

#submitBtn {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: var(--color-primary);
    background-color: var(--color-emphasize);
    border: 2px var(--color-secondary) solid;
    border-radius: 15px;
    box-shadow: 0 9px var(--color-secondary);
}

#submitBtn:hover {
    background-color: var(--color-emphasize)
}

#submitBtn:active {
    background-color: var(--color-emphasize);
    border: 1px var(--color-primary) solid;
    color: var(--color-primary);
    box-shadow: 0 5px var(--color-primary);
    transform: translateY(4px);
}